* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(2, 35, 56, 0.925);
}

.bg-green {
    background-color: rgb(62, 196, 133);
}

.height-400 {
    height: 400px;
}

.height-300 {
    height: 300px;
}

.height-500 {
    height: 500px;
}

.bg-lightblue {
    background-color: rgb(69, 127, 179);
}

.bg-darkblue {
    background-color: rgb(46, 96, 140);
}

.bg-blue {
    background-color: blue;
}

.bg-beige {
    background-color: rgb(208, 176, 132);
}

.navbar button {
    border: 1px solid grey;
    font-size: 24px;
}

.content.pt-4 img {
    width: 200px;
    height: 200px;
}

.lines-white:after,
.lines-white:before {
    content: '';
    width: 150px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

.lines-black:after,
.lines-black:before {
    content: '';
    width: 150px;
    height: 3px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

.lines-small-white:after,
.lines-small-white:before {
    content: '';
    width: 90px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

.lines-small-blue:after,
.lines-small-blue:before {
    content: '';
    width: 90px;
    height: 3px;
    background-color: rgb(23, 55, 124);
    display: inline-block;
    vertical-align: middle;
}

.container-fluid.bg-green button {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    border-radius: 5px;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.icons {
    padding: 10px 10px;
    border: 1px solid white;
    border-radius: 100%;
    margin: 0px 5px;
    font-size: 20px;
}

.text-green {
    color: rgb(62, 196, 133);
}